.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    /* background-color: #1D2D44; */
    background-color: #0A1931;
    padding: 0px 0.8rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.logo {
    color: #D4AF37;
    font-size: 28px;
    font-weight: 900;
    cursor: pointer;
}

.location-logo i {
    font-size: 1.3rem;
    color:rgba(255, 255, 255, 0.9);
}

.user-location {
    display: flex;
    align-items: center;
    gap: 6px;
    color: #A9A9A9;
    cursor: pointer;
}

.user-location .user-current-address {
    font-size: 0.9rem;
}

.user-location .update-location {
    font-size: 1rem;
    font-weight: 600;
    color: #F4F4F4;
}

.user-input-box {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid transparent;
    transition: border 0.3s ease;
    border-radius: 7px;
    width: 500px;
}

.user-input-box .input-here {
    padding: 9px 10px;
    font-size: 1rem;
    border-radius: 7px 0px 0px 7px;
    width: 100%;
    flex: 1;
}

.user-input-box i {
    background-color: #D4AF37;
    font-size: 1.5rem;
    padding: 0.4rem 0.6rem;
    border-radius: 0px 7px 7px 0px;
    cursor: pointer;
}

.user-input-box .input-here:focus {
    outline: none;
}

.language {
    display: flex;
    gap: 7px;
    align-items: center;
    justify-content: center;
}

.language i {
    font-size: 1.6rem;
    color:rgba(255, 255, 255, 0.9);
    cursor: pointer;
}

.language select {
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 0.8rem;
    color: #000000;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
    height: 1.3rem;
}

.auth button, .shopping-details button {
    font-size: 1rem;
    background-color: #0A1931;
    color: #F4F4F4;
    border: none;
    cursor: pointer;
    font-weight: 500;
}

.cart {
    display: flex;
    align-items: center;
    gap: 5px;
}

.cart i {
    font-size: 2rem;
    color: #F4F4F4;
}

.cart p {
    color:rgba(244, 244, 244, 0.8);
    font-size: 0.9rem;
    font-weight: 600;
}

/* media queries */

@media (max-width: 750px) {
    .header {
        padding: 0px 0.3rem;
        height: 45px;
    }

    .logo {
        font-style: italic;
        font-size: 0.9rem;
        font-weight: 700;
    }

    .user-input-box {
        width: 170px;
        border: none;
    }
    .user-input-box .input-here {
        padding: 6px;
        font-size: 0.8rem;
    }

    .user-input-box i {
        padding: 5px;
        font-size: 1rem;
    }

    .user-location, .language,  .shopping-details{
        display: none;
    }

    .auth button {
        font-size: 0.7rem;
    }

    .cart i{
        font-size: 1.2rem;
    }
    .cart p {
        display: none;
    }
}


@media (min-width: 751px) and (max-width: 999px) {
    .header {
        padding: 0px 0.5rem;
        height: 55px;
    }

    .logo {
        font-size: 1.3rem;
    }
    .user-location, .language {
        display: none;
    }

    .user-input-box {
        width: 320px;
    }
    .user-input-box .input-here {
        padding: 0.4rem;
        font-size: 1rem;
    }

    .user-input-box i {
        padding: 0.501rem;
        font-size: 1rem;
        position: relative;
        top: 0.5px;
    }

    .auth button, .shopping-details button {
        font-size: 0.9rem;
    }

    .cart i{
        font-size: 1.6rem;
    }
    .cart p {
        display: none;
    }

}