.nav .nav-links {
    background-color:rgb(29, 45, 68);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 4.01rem;
    list-style-type: none;
    height: 2.3rem;
    padding: 0px 0.8rem;
}

.nav .bars {
    font-size: 1.1rem;
    cursor: pointer;
}

.nav {
    transition: visibility 0.3s ease-in-out;
}

.nav .toggle {
    index: 1100;
    position: fixed;
    top: 6.2rem;
    bottom: 0;
    left: 0rem;
    width: 20rem;
    background-color: #F4F4F4;
    padding: 0.4rem 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 5px 5px 15px -5px black;
}

.nav .js-visible {
    visibility: hidden;
}

.toggle a {
    color: white;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.9);
    font-size: 1.1rem;
    font-weight: 500;
    padding: 4px 6px;
    margin-bottom: 0.6rem;
}

.toggle a:hover {
    border: 1px solid red;
    border-radius: 5px;
}